body {
	background: url("../img/bg_fondbleu.jpg") repeat-x #4572A7;
	padding: 30px 0px 0px 0px;
	font-family: 'Electrolize', sans-serif;
}

#body-wrapped {
	background: url("../img/bg_rayures.png") transparent;
}

header {
	margin: 0 auto;
	width: 978px;
	height: 182px;
}

.nav #home img {
	height: 20px;
	width: 20px;
}

.nav #home a:hover {
	opacity: 0.5;
	filter:alpha(opacity=50); 
	border:0;
}
.aliane {
	text-align:center;
}
section {
	margin: 10px auto 0 auto;
	width: 940px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	/*border-radius*/
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
    border-top-right-radius: 5px;
}

section .separateur {
	width: 882px;
	height: 2px;
	margin: 50px auto 25px 25px;
}

section h1 {
	margin-top: 25px;
}

section .bloc {
	/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
	border: 1px solid #94A0AD;
	background-color: rgba(255,255,255,0.5);
	padding: 5px;
}

.row {
	text-align: center;
	border-top: 1px solid #000000;
	padding-top: 20px;
	margin-left: 5px;
}

.row .progress {
	border: 1px solid #000000;
}

.row.first {
	text-align: center;
	border-top: 0;
	padding-top: 15px;
	font-weight: bold;
}

.row.first .span2.evol {
	margin-left: 0px;
	padding: 0;
	width: 100px;
}

.row.first .span6 {
	margin-top: 10px;
}

.row.autre .progress {
	opacity: 0.5;
	filter:alpha(opacity=50); 
}

.row.autre .span2,
.row.autre .span1,
.row.legende .span1,
.row.legende .span2 {
	margin-top: 0px;
}

.legende-verte,
.legende-jaune {
	font-weight: bold;
}

.row .legende-verte {
	color: #356E35;
}

.row .legende-jaune {
	color: #6A4D23;
}

.row .span2,
.row .span1 {
	margin-top: 10px;
}

.row .first {
	margin-bottom: 5px;
}

section #calcul {
	text-align: center;
	margin-bottom: 15px;
}

section .bouton{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(PIE.htc);
	display:inline-block;
	vertical-align:top;
}

.bouton{
	font-weight:bold;
}

.bouton a{
	background:url("../img/but_join.png") top repeat-x;
	text-shadow:0px -1px 0px #0034a4;
	border:1px solid #29629d;
	display:block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px 10px 5px 7px;
	color:white;
	text-decoration:none;
}

.bouton a:hover{
	background:url("../img/but_join_hover.png") top repeat-x;
}

.bouton a span.but-icon{
	background:url("../img/icon_arrow.png") top no-repeat;
}

span.but-icon{
	display:block;
	margin-top: -3px;
	height:24px;
	width:24px;
	float:left;
	margin-right:8px;
	margin-left: 5px;
}

footer {
	margin: 0 auto;
	width: 960px;
	height: 150px;
	background: url("../img/footer.png") repeat-x #3D3D3D;
	color: #FAFAFA;
	padding: 10px 0 10px 0;
}

#breadcrumb{
	width:500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}