body {
	background: url("../img/bg_fondbleu.jpg") repeat-x #4572A7;
	padding: 30px 0px 0px 0px;
	font-family: 'Electrolize', sans-serif;
}

#body-wrapped {
	background: url("../img/bg_rayures.png") transparent;
}

header {
	margin: 0 auto;
	width: 978px;
	height: 182px;
}

.nav #home img {
	height: 20px;
	width: 20px;
}

.nav #home a:hover {
	opacity: 0.5;
	filter:alpha(opacity=50); 
	border:0;
}
.aliane {
	text-align:center;
}
section {
	margin: 10px auto 0 auto;
	width: 940px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	/*border-radius*/
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
    border-top-right-radius: 5px;
}

#parc .row {
	text-align: center;
}

#parc .span2,
#parc .span1 {
	margin-top: 10px;
}

#parc .first {
	margin-bottom: 5px;
}

footer {
	margin: 0 auto;
	width: 960px;
	height: 150px;
	background: url("../img/footer.png") repeat-x #3D3D3D;
	color: #FAFAFA;
	padding: 10px 0 10px 0;
}